<!DOCTYPE html>
<html lang="en">
<head th:replace="layout/plantilla :: head"></head>
<body>
    <header th:replace="layout/plantilla :: header"></header>
    <section>
        <nav aria-label="breadcrumb" class="mt-3 ms-5">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Clientes</li>
            </ol>
        </nav>
    </section>
    <section th:replace="cliente/fragmentos :: botonesAgregar"></section>
    <section th:replace="cliente/fragmentos :: listaClientes"></section>
    <section th:replace="layout/plantilla :: footer"></section>
</body>
</html>
