<!DOCTYPE html>
<html lang="en">
<head th:replace="layout/plantilla :: head"></head>
<body>
    <header th:replace="layout/plantilla :: header"></header>
    <nav aria-label="breadcrumb" class="mt-3 ms-5">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/entrenadores/listado}">Entrenadores</a></li>
            <li class="breadcrumb-item active" aria-current="page">Registrar</li>
        </ol>
    </nav>
    <section th:replace="entrenador/fragmentos :: agregarEntrenador"></section>
</body>
</html>