<!DOCTYPE html>
<html>
    <head th:replace="layout/plantilla :: head"></head>
    <body>
        <section th:replace="layout/plantilla :: header"></section>
        <br>
        <br>
        <h1 class="display-3 text-center fw-bold">Bienvenido al Sistema de MetaFit</h1>
        <br>
        <p class="text-center" style="max-width: 1000px; margin: 0 auto; font-size: 25px;">MetaFit es un gimnasio comprometido con brindar un servicio de calidad, enfocado en el bienestar físico y el 
            desarrollo personal de sus clientes. Se caracteriza por ofrecer un ambiente profesional, con entrenadores capacitados y programas adaptados 
            a las necesidades de cada persona. Su objetivo principal es proporcionar una experiencia integral que fomente hábitos saludables y una cultura de esfuerzo,
            constancia y superación personal.
        </p>
        <br>
        <section th:replace="layout/plantilla :: footer"></section>
    </body>
</html>